{{!--
Default post card
--}}
<article class="wl-card {{post_class}} {{custom_class}}" style="--index: {{@key}};">
    <a class="wl-card-link" href="{{url}}">
        {{#if feature_image}}
            {{#if feature_image_alt}}
                {{> "feature-image" feature_image=feature_image feature_image_alt=feature_image_alt feature_picture_class="wl-card-picture" feature_image_class="wl-card-image"}}
            {{else}}
                {{> "feature-image" feature_image=feature_image feature_image_alt=title feature_picture_class="wl-card-picture" feature_image_class="wl-card-image"}}
            {{/if}}
        {{else if @custom.default_feature_image}}
            {{> "feature-image" feature_image=@custom.default_feature_image feature_image_alt=title feature_picture_class="wl-card-picture" feature_image_class="wl-card-image" }}
        {{else}}
            <div class="wl-card-picture no-image">
                <p>No Image</p>
            </div>
        {{/if}}

        {{#if featured}}
            <span class="wl-card-featured">{{> "icons/fire"}} {{t "Featured"}}</span>
        {{/if}}
        <div class="wl-card-content">
            {{^if hide_meta}}
            <span class="wl-card-meta">
                {{> "post-tag" }}
                <span class="wl-card-time">
                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format=(t "Date format")}}</time>
                    <span class="bull">&bull;</span> {{reading_time minute=(t '1 min read') minutes=(t "% min read")}}
                </span>
            </span>
            {{/if}}
            <h2 class="wl-card-title">{{title}}</h2>
            <p class="line-clamp" style="--line-clamp: 4;">{{excerpt}}</p>
            <strong>Read more</strong>
        </div>
    </a>
</article>
