<header id="wl-head" class="wl-head" data-swup-persist="header">
    <nav class="wl-head-inner wl-container">
        <div class="wl-head-brand">
            <a class="wl-head-logo" href="{{@site.url}}">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}" />
                {{else}}
                    <span data-split-by="letter" data-letter-animation="hover">{{@site.title}}</span>
                {{/if}}
            </a>
        </div>
        <!-- Desktop menu -->
        <div class="wl-head-menu wl-head-menu-desktop">
            {{navigation}}
            <div class="wl-head-actions">
                <div class="wl-head-actions-list">
                    {{search}}
                    <div class="wl-toggle-darkmode">
                        <label for="toggle-darkmode-desktop" aria-label="{{t "Toggle dark mode"}}" >
                            <span class="icon-light">
                                {{> "icons/light" }}
                            </span>
                            <span class="icon-dark">
                                {{> "icons/dark" }}
                            </span>
                        </label>
                        <input id="toggle-darkmode-desktop" type="checkbox" class="js-toggle-darkmode sr-only" />
                    </div>
                    {{#if @site.members_enabled}}
                        {{^if @member}}
                        <a class="wl-button" href="{{@site.signup_url}}">{{t "Subscribe"}}</a>
                        {{else}}
                        <a class="wl-button" href="#/portal/account">{{t "Account"}}</a>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
        <!-- Mobile menu -->
        <div class="wl-head-menu wl-head-menu-mobile">
            <div class="wl-head-actions">
                <span data-swup-persist="search">
                    {{search}}
                </span>
                <button class="wl-mobile-menu-button js-mobile-menu-toggle" >
                    {{> "icons/menu" }}
                </button>
            </div>
            <div id="wl-mobile-menu" aria-hidden="true"  tabindex="-1">
                <div class="wl-mobile-menu-inner">
                    <button class="wl-mobile-menu-button js-mobile-menu-close" >
                        {{> "icons/close" }}
                    </button>
                    {{navigation}}
                    {{#if @site.members_enabled}}
                        {{^if @member}}
                        <a class="wl-button" href="{{@site.signup_url}}">{{t "Subscribe"}}</a>
                        {{else}}
                        <a class="wl-button" href="#/portal/account">{{t "Account"}}</a>
                        {{/if}}
                    {{/if}}
                    <hr />
                    <div class="wl-toggle-darkmode">
                        <label for="toggle-darkmode-mo" aria-label="{{t "Toggle dark mode"}}" >
                            <span class="icon-light">
                                {{> "icons/light" }}
                            </span>
                            <span class="icon-dark">
                                {{> "icons/dark" }}
                            </span>
                        </label>
                        <input id="toggle-darkmode-mo" type="checkbox" class="js-toggle-darkmode sr-only" />
                    </div>
                </div>
                <div class="wl-mobile-menu-dim js-mobile-menu-close" aria-label="close menu"></div>
            </div>
        </div>
    </nav>
</header>
