<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{!-- Base Meta --}}

    <title>{{meta_title}}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{!-- <meta name="swup" --}}
    {{!-- Preconnect google fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin />
    <link rel="preconnect" href="//www.instagram.com" crossorigin />

    {{!-- Preload assets --}}
    <link rel="preload" href="{{asset "built/app.css"}}" as="style" >
    <link rel="preload" href="{{asset "built/vendor.js"}}" as="script" />
    <link rel="preload" href="{{asset "built/app.js"}}" as="script" />

    {{!-- This #block helper will try to preload page-specific assets --}}
    {{{block "preload"}}}

    <link rel="stylesheet" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/static/pretendard.min.css" crossorigin />
    <link rel="stylesheet" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/nord.min.css" crossorigin />


    {{!-- Global font Styles --}}
    <style>
        /** DM Sans */
        @font-face {
            font-family: "DM sans";
            font-weight: normal;
            font-style: normal;
            font-display: swap;
            src: local("DM Sans");
            src: url("{{asset 'font/DMSans-Regular.woff'}}") format("woff"),
                url("{{asset 'font/DMSans-Regular.woff2'}}") format("woff2");
        }

        @font-face {
            font-family: "DM sans";
            font-weight: 500;
            font-style: normal;
            font-display: swap;
            src: local("DM Sans");
            src: url("{{asset 'font/DMSans-Medium.woff'}}") format("woff"),
                url("{{asset 'font/DMSans-Medium.woff2'}}") format("woff2");
        }

        @font-face {
            font-family: "DM sans";
            font-weight: bold;
            font-style: normal;
            font-display: swap;
            src: local("DM Sans");
            src: url("{{asset 'font/DMSans-Bold.woff'}}") format("woff"),
                url("{{asset 'font/DMSans-Bold.woff2'}}") format("woff2");
        }

        @font-face {
            font-family: "DM sans Regular";
            font-weight: normal;
            font-style: normal;
            font-display: swap;
            src: local("DM Sans");
            src: url("{{asset 'font/DMSans-Regular.woff'}}") format("woff"),
                url("{{asset 'font/DMSans-Regular.woff2'}}") format("woff2");
        }

        @font-face {
            font-family: "DM sans Medium";
            font-weight: normal;
            font-style: normal;
            font-display: swap;
            src: local("DM Sans");
            src: url("{{asset 'font/DMSans-Medium.woff'}}") format("woff"),
                url("{{asset 'font/DMSans-Medium.woff2'}}") format("woff2");
        }

        @font-face {
            font-family: "DM sans Bold";
            font-weight: normal;
            font-style: normal;
            font-display: swap;
            src: local("DM Sans");
            src: url("{{asset 'font/DMSans-Bold.woff'}}") format("woff"),
                url("{{asset 'font/DMSans-Bold.woff2'}}") format("woff2");
        }

        /** DM Sans Italic */
        @font-face {
            font-family: "DM sans";
            font-weight: "normal";
            font-style: italic;
            font-display: swap;
            src: local("DM Sans");
            src: url("{{asset 'font/DMSans-Italic.woff'}}") format("woff"),
                url("{{asset 'font/DMSans-Italic.woff2'}}") format("woff2");
        }

        @font-face {
            font-family: "DM sans";
            font-weight: 500;
            font-style: italic;
            font-display: swap;
            src: local("DM Sans");
            src: url("{{asset 'font/DMSans-MediumItalic.woff'}}") format("woff"),
                url("{{asset 'font/DMSans-MediumItalic.woff2'}}") format("woff2");
        }

        @font-face {
            font-family: "DM sans";
            font-weight: bold;
            font-style: italic;
            font-display: swap;
            src: local("DM Sans");
            src: url("{{asset 'font/DMSans-BoldItalic.woff'}}") format("woff"),
                url("{{asset 'font/DMSans-BoldItalic.woff2'}}") format("woff2");
        }
    </style>

    <link rel="stylesheet" type="text/css" href="{{asset "built/app.css"}}" media="screen" />

    {{!-- This #block helper will inject a stylesheet for a specific page --}}
    {{{block "styles"}}}

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}


    {{!-- These variables are used to make the search form work --}}
    <script>
      // @license magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&dn=expat.txt Expat
      var ghostHost = "{{@site.url}}"
      // @license-end
    </script>

    {{!-- This script sets the correct theme mode (light or dark) --}}
    <script>
      if (typeof Storage !== 'undefined') {
        var currentSavedTheme = localStorage.getItem('theme')
        currentSavedTheme = currentSavedTheme ? currentSavedTheme : window.matchMedia('(prefers-color-scheme: dark)').matches ? "dark" : "light";

        if (currentSavedTheme && currentSavedTheme === 'dark') {
          document.documentElement.setAttribute('data-theme', 'dark')
        } else {
          document.documentElement.setAttribute('data-theme', 'light')
        }
      }
    </script>
</head>
<body class="{{body_class}}">
    <div id="swup" class="wl-viewport transition-reveal">
        {{> "layout/header"}}
        <main class="wl-main " >
            {{{body}}}
            {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}
        </main>
        {{> "layout/footer"}}
    </div>
    {{!-- <foot> --}}
    {{ghost_foot}}
    {{!-- Outputs important scripts - should always be included before closing body tag --}}
    <script defer src="{{asset "built/vendor.js"}}"></script>
    <script defer src="{{asset "built/app.js"}}"></script>
    <script async src="//www.instagram.com/embed.js"></script>

    {{!-- This #block helper will inject a script for a specific page --}}
    {{{block "scripts"}}}
</body>
</html>
