

{{!< default}}
<div class="wl-page">
    <div class="wl-container">
        <section class="wl-main-section">
            <h2 class="wl-main-section-title">{{@custom.main_title}}</h2>
            <p class="wl-main-section-description">{{@site.description}}</p>
        </section>
        <section class="wl-postfeed">
            <h3>
                {{t "Recent articles"}}
            </h3>
            {{#get "posts" limit="3" include="tags,authors" as |posts|}}
                {{#foreach posts}}
                    {{> "card-stack" }} {{!-- partials/card.hbs --}}
                {{/foreach}}
            {{/get}}
        </section>
        <a class="wl-button wl-button-large" href="{{@stie.url}}/blog/">
            {{t "More"}}
            {{> "icons/arrow-right"}}
        </a>

    </div>
</div>
