{{!< default}}

<article class="wl-article {{post_class}}">
    {{#post}}
    <header class="wl-header wl-canvas">
        <h1 class="wl-title">{{title}}</h1>
        <span class="wl-post-meta">
            <span class="wl-post-time">
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format=(t "Date format")}}</time>
                <span>
                    <span class="bull">&bull;</span> {{reading_time minute=(t '1 min read') minutes=(t "% min read")}}
                </span>
            </span>
            {{> "post-tag" link_tag=true}}
        </span>
        {{#if custom_excerpt}}
        <p class="wl-excerpt">{{custom_excerpt}}</p>
        {{/if}}
        {{#if feature_image}}
        <figure class="wl-feature-image">
            {{#if feature_image_alt}}
                {{> "feature-image" feature_image=feature_image feature_image_alt=feature_image_alt sizes="(min-width: 1200px) 1200px, 90vw" }}
            {{else}}
                {{> "feature-image" feature_image=feature_image feature_image_alt=title sizes="(min-width: 1200px) 1200px, 90vw" }}
            {{/if}}
            {{#if feature_image_caption}}
                <figcaption>{{feature_image_caption}}</figcaption>
            {{/if}}
        </figure>
        {{/if}}
    </header>
    <div class="wl-content wl-canvas">
        <aside class="wl-sidebar"><div class="wl-toc"></div></aside>
        {{content}}
    </div>
    {{/post}}
    <div class="wl-content wl-canvas">
        {{> "related-post"}}
    </div>

    <footer class="wl-footer wl-canvas">
        {{#if comments}}
        <section class="wl-post-comments">
            {{comments}}
        </section>
        {{/if}}
    </footer>

</article>

{{#contentFor "styles"}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.12.3/tocbot.css">
{{/contentFor}}

